.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  font-family: 'PeydaExtraLight';
}

.sidenav .mat-toolbar {
  background: inherit;
}
.mt{
  background-color: rgb(19, 2, 252) !important;
  color: white;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
