<form [formGroup]="bookForm" novalidate >
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>جزییات کتاب </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="شناسه" formControlName="id">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="عنوان" formControlName="title">
            @if (bookForm.controls['title'].hasError('required')) {
              <mat-error>عنوان <strong>الزامیست</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="نویسنده" formControlName="writer">
            @if (bookForm.controls['writer'].hasError('required')) {
              <mat-error>نویسنده <strong>الزامیست</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ناشر" formControlName="publisher">
            @if (bookForm.controls['publisher'].hasError('required')) {
              <mat-error>ناشر <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput maxlength="5" placeholder="قیمت" type="number" formControlName="price">
            <!-- <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint> -->
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
