/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0;  }

@font-face {
  font-family:'PeydaExtraLight' ;
  src: url(./assets/fonts/PeydaWebFaNum-ExtraLight.woff);
}
@font-face {
  font-family: 'PeydaExtraBold';
  src: url(./assets/fonts/PeydaWebFaNum-Bold.woff);
}
